{% extends "base.html" %}
{% block title %}Log in - Workout Buddy{% endblock %}
{% block style %} <link rel="stylesheet" href="../../static/login.css"> {% endblock %}

{% block main %}
<main id="content">
    <div class="form">
        <h2 class="login-title">Log In</h2>
        <form>
            <input type="text" name="username" id="username" title="username" placeholder="Username"><br>
            <input type="password" placeholder="Password" id="password"><a href="#" class="forgot-pass">Forgot Password?</a><br>
            
            <button type="button" class="login-btn" id="login-btn">Login</button>
            <p>Don't have an account? <a href="/auth/register">Create</a></p>
        </form>
    </div>
</main>


<script src="../../static/login.js"></script>
{% endblock %}
