{% extends "base.html" %}
{% block title %}Sign Up - Workout Buddy{% endblock %}
{% block style %} <link rel="stylesheet" href="../../static/register.css"> {% endblock %}

{% block main %}
<main>
    <div class="form">
        <h2 class="login-title">Sign Up</h2>
        <form>
            
            <input type="text" name="username" id="username" title="username" placeholder="Username"><br>
            <input name="email" type="email" placeholder="E-mail" id="email"><br>
            <input name="password" type="password" placeholder="Password" id="password"><a href="/auth/login" class="forgot-pass">Already have an account?</a><br>
            
            <button id="login-btn" type="button" class="login-btn">Register</button>
        </form>
    </div>
</main>

<script src="../../static/register.js"></script>
{% endblock %}